target/
/customer-api/target
/customer-api/nb-configuration.xml
/customer-api-data/target
/customer-api-data/nb-configuration.xml
/platform-api-data/target
/platform-api-data/nb-configuration.xml
/jquery-rest-api/target/
/jquery-rest-api/nb-configuration.xml
